/* @media (max-width: 1208px) {
    .icon-img i{
        margin-top: -11px
    font-size: 29px;
    margin-left: -13px;
    }
    .icon-text {
        font-size: 10px;
    }
    .doctor1 {
        display: grid;
        justify-content: center;
        margin-top: 20px;
        grid-gap: 10px;
    }
} */